<p id="notice"><%= notice %></p>

<p>
  <b>Attri:</b>
  <%= @property.attri %>
</p>

<p>
  <b>Name:</b>
  <%= @property.name %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
