<h1>Listing attris</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attris.each do |attri| %>
  <tr>
    <td><%= attri.name %></td>
    <td><%= link_to 'Show', attri %></td>
    <td><%= link_to 'Edit', edit_attri_path(attri) %></td>
    <td><%= link_to 'Destroy', attri, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Attri', new_attri_path %>
