<p id="notice"><%= notice %></p>
<%= include_gon %>
<p>
	<% if params[:k] %>
	kilo = <%= @product.proitems.find(params[:k]).someline %>
	<% end %>
</p>
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){

		//var be = $.parseJSON('<%#= sanitize(@product.proitems.find(params[:k]).someline)%>')
		//var be = new Array
		//be = gon.karray
		$.each(gon.karray, function(i,val){
			$("input:radio[value="+gon.karray[i]+"]").attr("checked",true)
		})

		$("#getandot").click(function(){
			
			var isn = $("input:radio:checked")
			var stt= new Array
			$.each(isn, function(i,val) {
				
				stt[i] = isn[i].value
			})
			$("#proitem_someline").val(stt)
			return
		})	

	})
	var be = "<%#= @product.proitems.find(params[:k]).someline.split(',') %>"
	
</script>
<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Ptype:</b>
  <%= @product.ptype %>
</p>

<p> <b>拥有属性：</b>
<% @product.attris.each do |a| %>
	<ul><%= a.name%>:
	<% a.properties.each do |ap| %>
	<li><%= radio_button_tag a.name, ap.id %><%= ap.name%></li>
		
	<% end %>
	</ul>
<% end %>
</p>


<%= form_for([@product, @product.proitems.build]) do |f| %>
  <div class="field">
    <%= f.text_field :product_id, :value=>@product.id , :type=>"hidden" %>
  </div>
  <div class="field">
    <%= f.text_field :someline, :value=>" " , :type=>"hidden" %>
  </div>
  <div class="actions">
    <%= f.submit "add to proitems",:id=>"getandot"%>
  </div>
<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
