<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  #<%= @proitem.product.id %>
  <%= @proitem.product.name %>
</p>

<p> Product2 Meta: <br> 

<% @prop.each do |a| %>
	<li><%= a.attri.name%> : <%= a.name %></li>
<% end %>

</p>


<p>
  <b>Someline:</b>
  <%= @proitem.someline.split(",") %>
  <%= @product.id  %>
  <%#= @prop.each do |p| %>
  <%#= "#{p.attri.name} :#{p.name}" %> <br>
  <%#end -%>
</p>


<%= link_to 'Edit', edit_proitem_path(@proitem) %> |
<%= link_to 'Back', proitems_path %>
